/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    font: message-box;
    max-width: 25em;
}

h1 {
    font-size: 150%;
    font-weight: normal;
}
